h1{
font-size: 75px;
}
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/handlee/v9/-F6xfjBsISg9aMakPm3wow.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
div.div_1{
background-color: #3498eb
}
a.link_1 {
  margin-top:20px;
  margin-left: 14px;
}
body{
	background-color: lightgreen;
	font-family: 'Handlee', cursive;
}
audio{
	width: 600px;

}